.c-section {
    position: relative;
    height: 100vh;
    width: 100%;
}

.c-box {
    background: #fff;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 4px;
    box-sizing: border-box;
    height: 592px;
    max-width: 432px;
    width: 100%;

    /* Vertical and horizontal center alignment */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.c-grid__chat {
    background: #81aecf;
}

.c-grid__answer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 192px;
    padding: 0 20px;
}

.p-chat__bubble {
    position: relative;
    background: #fff;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    padding: .5rem;
    margin-right: 1rem;
    max-width: 80%;
    width: auto;
}

.p-chat__bubble.-owner {
    background: #fff;
}

.p-chat__bubble.-owner::after {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    display: block;
    top: 50%;
    margin-left: -10px;
    transform: rotate(45deg) skew(-10deg, -10deg);
    transform-origin: 100% 0%;
    background: #fff;
}

.p-chat__bubble.-user {
    background: #a4e496;
}

.p-chat__bubble.-user::after {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    display: block;
    top: 50%;
    right: 0;
    margin-right: -8px;
    transform: rotate(45deg) skew(-10deg, -10deg);
    transform-origin: 100% 0%;
    background: #a4e496;
}

.p-chat__row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-right: 0 !important;
}

.p-chat__reverse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding-right: 0 !important;
}

.p-question__title {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0 0 1rem 0;
}

.p-question__description {
    font-size: 1rem;
    letter-spacing: .125rem;
    line-height: 1.7;
}
